# Files that will not show up in git status listings
#
*.[oa]
*~
# For Joe editor lovers
DEADJOE
# For kdevelop
*.pcs
*.kdevses
# For SM users
.smhist
# Executables
*.x
# Other stuff
Doxyfile
workspace/*
# CMake build system directories/files
/Makefile
/optimized
/debug
/build
/.cpackignore
/.version
/.version.fn
/Debug
/Release
